:root {
  /* Brand Colors */
  --primary-color: #4f46e5;
  --secondary-color: #3b82f6;
  --accent-color: #10b981;

  /* heading */
  --heading_text_with_radial-gradient_background: radial-gradient(
    50% 50% at 50% 50%,
    #0afa5a 0%,
    #222fe9 100%
  );

  /* background */
  --filed_bg_gradient: linear-gradient(
    90deg,
    rgba(160, 45, 192, 0.1) 0%,
    rgba(87, 48, 240, 0.1) 100%
  );

  --third-layer-background: linear-gradient(
    90deg,
    rgba(160, 45, 192, 0.3) 0%,
    rgba(47, 123, 216, 0.3) 49.5%,
    rgba(87, 48, 240, 0.3) 100%
  );

  --base-background: radial-gradient(
    circle at 60% 50%,
    /* center at approx. x: 60%, y: 50% */ #21259f 0%,
    #0c0d39 100%
  );

  /* border */
  --primary-border: 1px solid #000;
  --primary-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  /* Grayscale */
  --text-color: #1f2937;
  --background-color: #f9fafb;
  --border-color: #e5e7eb;

  /* Typography */
  --font-family: "Inter", sans-serif;
  --font-size-base: 16px;
  --font-size-heading: 2rem;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Border Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
}

body {
  font-family: var(--font-family);
  background: var(--base-background);
  color: var(--text-color);
  /* padding: var(--spacing-md); */
}

.filed_bg_gradient {
  background: var(--filed_bg_gradient);
}

.typography {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav {
  background: var(--filed_bg_gradient);
  width: 100%;
  height: 80px;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.primary-border-style {
  border: var(--primary-border);
  box-shadow: var(--primary-box-shadow);
}

.heading-text-rgb{
  background: var(--heading_text_with_radial-gradient_background);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.second-layer-background {
  background: var(
    --filed_bg_gradient,
    linear-gradient(
      90deg,
      rgba(160, 45, 192, 0.1) 0%,
      rgba(87, 48, 240, 0.1) 100%
    )
  );
}
.third-layer-background {
  background: var(--third-layer-background);
}
